<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 Puzzle</title>
    <style>
        .card{
            border: 1px solid #00000057;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 6px 0px rgb(50 50 50 / 29%);
            -moz-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.29);
            box-shadow: 2px 2px 6px 0px rgb(50 50 50 / 29%);
        }

        .title{
            font-size: 15px;
            font-weight: bold;
            padding-right: 10px;
        }
    </style>
</head>
<body class="container"> 
    <div class="row justify-content-center">
        <form class="col-6 my-5" action="/puzzle" method="POST">
            <div class="row">
                <div class="col">
                    <label class="title" for="index">Enter an index below</label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" id="puzIndex" name="puzIndex">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Solve Puzzle">
                </div>
            </div>
    
        </form>
    </div>
    <div class="row justify-content-evenly">
        
        <div class="text-center col-12">
            <h4>Outputs For Index. {{puzIndex}}</h4>
        </div>
        {% if a_Start %}
        <div class="col-5 card p-3">
            <div class="d-flex justify-content-between">
                <h4>A* Algorithm</h4>
                <p> {{a_Start["status"]}} </p>
            </div>
            <h4>A* Algorithm</h4>
            <div class="my-1">
                <span class="title"> Goal:</span> <span> {{a_Start["solution"]}}  </span>
            </div>
            <div class="my-1">
                <span class="title"> Opened Nodes: </span> <span> {{a_Start["opened"]}} </span>
            </div>
            <div class="my-1">
                <span class="title"> Total Time: </span> <span>{{a_Start["time"][:9]}} sec</span> 
            </div>
        </div>
        {% endif %}
        {% if greedy_best %}
            <div class="col-5 card p-3">
                <div class="d-flex justify-content-between">
                    <h4>Greedy Search</h4>
                    <p> {{greedy_best["status"]}} </p>
                </div>
                <div class="my-1">
                    <span class="title"> Goal: </span> <span>{{greedy_best["solution"]}} </span> 
                </div>
                <div class="my-1">
                    <span class="title"> Opened Nodes: </span> <span> {{greedy_best["opened"]}} </span>
                </div>
                <div class="my-1">
                    <span class="title"> Total Time: </span> <span> {{greedy_best["time"][:9]}}  sec</span>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mt-5 justify-content-evenly">
        <div class="text-center col-12">
            <h4>Puzzles</h4>
        </div>
        {% for index, state in states %}
            
            <div class="col-3 card p-3 mx-1 my-2">
                <div class="my-1">
                    <span class="title"> Index No.:</span> {{index}} <span>   </span>
                </div>
                <div class="my-1">
                    <span class="title"> Start:</span>{{state['start']}} <span>   </span>
                </div>
                <div class="my-1">
                    <span class="title"> Goal: </span>{{state['goal']}} <span>  </span>
                </div>
                <div class="my-1">
                    <span class="title"> Minimum moves: </span> {{state['steps']}} <span> </span> 
                </div>
            </div>
        {% endfor %}
        
    </div>
</body>
</html>